// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	margin-top: 15px;
}
/*.comment {
	width: 300px;
	height:100px;
	border: 1px solid pink;
}*/

.edit {
	margin-top: 10px;

}
#picture_picture {
	margin: 0 auto;
	margin-bottom: 20px;
}
.post {
	
	color: pink;
}
.row {
	margin-top: 10px;
}