/*.box {
	width: 960px;
	margin: 0 auto;
}

.container {
	width: 100%;
	height: 100%;
	background-color: pink;
	margin: 0 auto;
}
.container:after {
	content: "";
	clear: both;
	display: block;
}*/

/*.box {
	width: 1350px;
	text-align: center;
	margin: 0 auto;

}*/
.image {
 text-align: center;
 margin: 0 0 0 100px;
 /*width: 500px;
 height: auto;*/
 /*margin-left: 300px;*/
}
.image img{
	/*height: 600px;*/
	/*margin-left: 100px;*/
}
.login {
	border: 5px solid pink;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-left: 100px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
.login h3 {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	width: 175px;
	height: 51px;
	margin: 0 auto;
	margin-top: 20px;

}
.login a {
	text-decoration: none;
}
.login p {
	margin-top: 15px;
	color: blue;
}
.fa-sign-in {
	color: pink;
}
h4 {
	color: pink;
}
footer {
	height: 30px;
	width: 100%;
	/*margin: auto;*/
	position: absolute;
	bottom: 0;
	text-align: center;
	/*background-color: blue;*/
}

footer ul {
	list-style: none;
	margin: 0;
}
footer ul li {
	float: left;
	width: auto;
	margin-right: 15px;
	padding: 5px;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	text-align: center;
}